extends base.pug

block scripts
    script(src="../static/index.js") 

block style
    style 
        include ../static/style.css
        include ../static/styleabout.css

block content
    h1 Our Team
    div.container 
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/07/geeta.jpg")
            h3 Namrita Khurana
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/07/chandrika.jpg")
            h3 Geeta Malla
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/07/abhijeet-1.jpg")
            h3 Deepak Jindal
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/08/deepak.jpg")
            h3 Suraj Verma
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/09/rahul.jpg")
            h3 Rahul Gaur
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/07/sonam.jpg")
            h3 Sonam Kumar
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/08/saif.jpg")
            h3 Saif Umar
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        div.person
            img(src="https://zenithdanceacademy.in/dance/wp-content/uploads/2019/08/yashika.jpg")
            h3 Yashika
            div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet enim minus adipisci. Necessitatibus possimus iste ullam rerum perspiciatis iusto, ex sint veniam officia voluptatem voluptatibus aliquam nobis mollitia fugiat unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique iusto accusamus magnam. Aut veritatis dolorem eum quod, mollitia et eaque cumque architecto eius! Cupiditate ducimus maxime ab laboriosam inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorem sapiente eius natus numquam provident iste porro, veniam molestiae optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis impedit, perferendis ipsa dolorum cum rerum quas magnam quae blanditiis.
        