//- layout
doctype html
html
  head
    title Step-Up Dance Academy
    block scripts
    block style
  body
    nav#navbar.top
        ul
            div#logo
                img(src="https://www.clipartmax.com/png/full/53-533441_creative-dance-logo-design.png")
                |SDA
            li #[a(href="/") Home]
            li #[a(href="/admission") Admission]
            li #[a(href="/classinfo") Class Information]
            li #[a(href="/about") About]
            li #[a(href="/oursocials") Our Socials]
    block content
    footer#footer
            | Copyright 2022 © Step-UpDanceAcademy.com  |  All rights reserved  | Phn no: +91-8595558921 
