//- CURRENTLY NOT IN USE
//- we will put all templates here
doctype html 
html
    head
        title Step-Up Dance Academy
        style 
            include ../static/style.css
        body
            nav#navbar.top
                ul
                    li #[a(href="/") Home]
                    li #[a(href="/") Admission]
                    li #[a(href="/") Class Information]
                    li #[a(href="/") About]
                    li #[a(href="/") Our Socials]
            section#introSection
                div Welocome to Step-Up Dance Academy
                div.small Follow your own rhythm
            section#descriptionSection
                h1 Step-Up Dance Academy
                div Step-Up Dance Academy has introduced yet another original concept for ongoing dance training and education, and that too through online dance classes. Step-up has introduced the concept of virtual dance lessons during this lockdown when everyone is confined to their homes and we are all missing our dance training.
                a(class='button' href='/')  JOIN US
            section#whyusSection 
                h2 Why Us?
                div.card 
                    h3 Dance as your career? Why not!
                    p Career in dance: Dance is a wonderful way to express yourself and have fun.But this craft is much more than that.You can achieve your goals and make a lot of money doing it without ever getting sick of it.Step-up Academy is proud to provide all distinctive dance acts, like as Salsa, Samba, Jazz, Flamenco, etc., to our motherland.Our goal is for our pupils to become into the most dynamic and adaptable dancers in the entire globe by constantly incorporating the most recent dance forms and fusion styles. 
                    a(class='button' href='/')  MORE..

                div.card
                    h3 Lorem ipsum dolor sit. 
                    p Career in dance: Dance is a wonderful way to express yourself and have fun.But this craft is much more than that.You can achieve your goals and make a lot of money doing it without ever getting sick of it.Step-up Academy is proud to provide all distinctive dance acts, like as Salsa, Samba, Jazz, Flamenco, etc., to our motherland.Our goal is for our pupils to become into the most dynamic and adaptable dancers in the entire globe by constantly incorporating the most recent dance forms and fusion styles.
                    a(class='button' href='/')  MORE..
 
                div.card 
                    h3 Challenges
                    p With the exception of their ego, a committed dancer can typically overcome any problem during their entire career.There can occasionally be an air of arrogance when a dancer who specialises in a certain dance form converses with another dance specialist, which kills the essence of dance.This behaviour is strictly condemned by us.Regardless matter the style or method a dancer chooses to use, Zenith believes that every dance and every performer deserve respect on an equal basis. 
                    a(class='button' href='/')  MORE..

            section#teacherSection
                h1 Our Instructors
                div.container
                    div.teachers
                        h2 #[a(href="/") Namrita Khurana]
                        h3 Belly
                        p One of our dancing academy's hidden treasures, who has been on a number of albums and songs in the past.She not only dances well herself, but she also specialises in dance styles like belly.   
                    div.teachers
                        h2 #[a(href="/") Geeta Malla]
                        h3 Semi-calssical
                        p Geeta is one of a kind; she embraces the choreography as if it were in her blood. She specialises in semi-classical dance, which she performs and encourages you to do as effectively as you can.   
                    div.teachers
                        h2 #[a(href="/") Deepak Jindal]
                        h3 Aerial/Acrobats
                        p One of Step-up's most adaptable instructors is Deepak.He can switch between Hip-Hop, Parkour/Acrobats, and intense workouts.He can provide you advice on how to simultaneously build your body and decrease weight.   
                    div.teachers
                        h2 #[a(href="/") Suraj Verma]
                        h3 Hip-Hop
                        p Suraj is one of the teachers whose movements may make you gasp.You desire him even more because of his degree of adaptability and technical clarity. 
            section#joiningformSection    
                div create a form for joining.
            footer#footer
                | Copyright 2022 © Step-UpDanceAcademy.com  |  All rights reserved
                
            script 
                include ../static/index.js