extends base.pug

block scripts
    script(src="../static/index.js") 

block style
    style 
        include ../static/style.css
        include ../static/stylesocial.css

block content 
    div.addr 
        h1 Address 
        h2 Mayur Vihar Branch
        p A-5/163, Third,Fourth Floor,  Above First Cry, Mayur Vihar Phase 1, New Delhi 110091
        p PHONE NO : +91-8595558921, 011-22001584
        p E-MAIL : sda_mayurvihar@gmail.com
        p 
            img(src="../static/logo-ig-png-32457.png")   
            //- img(src="https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80")   
            |  Instgram:- _SDAacdemy
        p 
            img(src="../static/logo-twitter-png-5860.png")   
            |  Twitter:- _SDAacdemy
        p 
            img(src="../static/youtube-logo-png-2071.png")   
            |  Youtube:- SDAacdemy
        p 
            img(src="../static/whatsapp-logo-png-2280.png")   
            |   WhatsApp:- +91-8595558921

    //- div.contanier
    //-     div#Instgram
    //-     div#Twitter
    //-         img(src="https://images.unsplash.com/photo-1611605698335-8b1569810432?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
    //-         |Twitter:- _SDAacdemy
    //-     div#Youtube
    //-         img(src="https://images.unsplash.com/photo-1611162616475-46b635cb6868?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
    //-         |Youtube:- SDAacdemy
    //-     div#WhatsApp
    //-         img(src="https://images.unsplash.com/photo-1614680376408-81e91ffe3db7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
            |WhatsApp:- +91-8595558921
        //- ul 
        //-     li #[a(href="/") Instgram]
        //-     li #[a(href="/") Twitter]
        //-     li #[a(href="/") Facebook]
        //-     li #[a(href="/") WhatsApp]